body{
  margin: 50px 0;
}

.container{
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

.container .footer-text{
  margin: 20px 0;

}


.badge{
  background: #e4aa48;
  margin-left: 10px;
}

.panel{
  padding: 15px;
}
